.landing {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.8em;
  letter-spacing: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.landing h1 {
  margin-bottom: -20px;
}

.landing h2 {
  margin-bottom: -50px;
}

.resume-button {
  background: url('../../assets/sean-foley-3-unsplash.jpg');
  background-size: cover;
  width: 80%;
  opacity: 0.7;
  margin: 10%;
  height: 40vh;
  font-size: 3em;
  letter-spacing: 10px;
  /*text-decoration: underline;*/
  /*text-decoration-color: white;*/
}

.resume-button div {
  color: white;
}
