.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
}

.section-header-text {
  color: #000;
  display: block;
  padding-top: 10px;
  font-size: 1.8em;
  font-family: monospace;
  letter-spacing: 10px;
}

.paragraph-text {
  color: #000;
  display: block;
  padding-top: 10px;
  font-size: 1.2em;
  font-family: monospace;
  letter-spacing: 6px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  height: 2px;
  background-color: #000;
}

.__landing-header-image {
  background: url('../../assets/jr-korpa.jpg');
  background-size: cover;
  height: 50vh;
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


