.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
  font-family: sans-serif;
}

.section-header-text {
  color: #000;
  display: block;
  padding-top: 10px;
  font-size: 1.8em;
  letter-spacing: 10px;
}

.paragraph-text {
  color: #000;
  display: block;
  padding-top: 10px;
  font-size: 1.2em;
  letter-spacing: 6px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.job-section {
  margin-bottom: 30px;
}

.job-title {
  font-weight:bold;
}

.job-date {
  font-style: italic;
  text-decoration: underline;
}

hr {
  border: none;
  height: 2px;
  background-color: #000;
}

.__landing-header-image {
  background: url('../../assets/jr-korpa.jpg');
  background-size: cover;
  height: 50vh;
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


