body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  justify-content: center;
  font-weight: 100;
  font-size: 5vmin;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
}

.intro {
  top: 0;
  background: #d2e0e0;
  min-height: 55vh;
  padding-top: 45vh;
  color: #3e3e3e;
}

.intro p {
  margin-top: 2%;
  font-size: 3vh;
}

.intro span {
  font-size: 9vh;
}

.project-description {
  font-size: 6vh;
  padding-top: 3vh;
  padding-bottom: 1vh;
  background: #383838;
  color: #ffffff;
}

.project-description span {
  margin-top: 2%;
  font-size: 6vh;
}

.project-description p {
  margin-top: 2%;
  font-size: 2vh;
}

.project-tile {
  transition: 1.3s;
}

.project-tile span {
  padding-top: 45vh;
}

.hexClock {
  width: 50px;
  height: 50px;
}
