.art-page {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.art {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.art-listing {
    display: block;
    text-align: center;
    margin: 1rem;
    width:  25rem;
    position: relative;
}

.art-listing img {
    width:  25rem;
    height: 25rem;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 3%;
}

.art-listing img:hover {
    border: 1px solid gray;
    box-shadow: 0 0 10px 1px gray;
}

.search-result {
    display: grid;
    grid-template-rows: 1fr;
    color: white;
    padding: .5rem;
    position: absolute;
    bottom: .3rem;
    width: 24rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5%;
}

.art-title {
    font-size: 2rem;
    font-weight: bold;
}

.artist {
    font-size: 1rem;
    /*font-weight: bold;*/
}

.search-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    margin: 1rem;
    background-color: gray;
    border-radius: .25rem;
}

.search-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}

.search-form input {
    border-radius: .25rem;
    padding: .5rem;
}

.search-form button {
    border-radius: .25rem;
    padding: .5rem;
}