.art-page {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

input {
    height: 2rem;
    width: 21rem;
    font-size: 1rem;
    padding: .5rem;
}

.art {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.art-listing {
    display: block;
    text-align: center;
    margin: 1rem;
    width:  25rem;
}

.art-listing img {
    width:  25rem;
    height: 25rem;
    object-fit: cover;
    border: 1px solid white;
}

.search-result {
    display: grid;
    grid-template-rows: 1fr;
    padding: .5rem;
}