.simpleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid black .8rem;
  border-bottom: solid black .8rem;
  border-top: solid black .2rem;
  border-left: solid black .2rem;
  margin: 2rem;
  padding: .5rem;
  width: 20rem;
  height: 22rem;
  text-decoration: none;
  color: black;
}

.simpleCard img {
  height: 15rem;
  width: 90%;
  object-fit: cover;
}