.simpleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid black .8rem;
  border-bottom: solid black .8rem;
  border-top: solid black .2rem;
  border-left: solid black .2rem;
  margin: 2rem;
  padding: .5rem;
  width: 20rem;
  height: 22rem;
  text-decoration: none;
  color: black;
}

.simpleCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /*transition: ease-in .25s;*/
}

.imageWrapper {
  position: relative;
  overflow: hidden;
}

.imageWrapper img {
  height: 15rem;
  width: 18rem;
  margin: .75rem;
  object-fit: cover;
}

.overlay {
/*dimensions*/
  position: absolute;
  inset: 0;
  height: 15rem;
  width: 18rem;
  margin: .75rem;

/*text*/
  background-color: #1a2a3a;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 1rem;

/*effects*/
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}

.imageWrapper:hover .overlay {
  opacity: 80%;
  visibility: visible;
  transform: translateX(0);
  transition: ease 100ms;
}