.backButton {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

.backButton:hover {
    background-color: #555;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}