.spacex-page {
  padding: 1rem;
}

.spacex-page-header {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  justify-content: center;
}

.ship-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.ship-card {
  display: flex;
  flex-direction: column;
  border: solid black .2rem;
  margin: 1rem;
  padding: .5rem;
  width: 20rem;
}

.ship-card img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}

.ship-card-body {
  margin-top: 1rem;
}

.ship-card-body button {
  margin-top: 1rem;
}
