.mine-row {
    display: flex;
    flex-direction: row;
}

.mine-sweeper-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.end-game-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.reset-button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
}

.full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 10rem;
    font-weight: bold;
}