.mine-cell {
    width: 4rem;
    height: 4rem;
    border-radius: .2rem;
    font-size: 2rem;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #ababab;
}

.mine-cell:disabled {
    color: black;
}

.revealed {
    background-color: #ffffff;
}
