.mine-sweeper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1579567761406-4684ee0c75b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.mine-sweeper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin: auto;
    border: 5px solid #fff;
    border-radius: 1rem;
    background: rgba(0, 0, 0, .9);
    height: 45rem;
    width: 45rem;
    padding: 5rem 5rem 10rem;
}