.cell {
    display: flex;
    width: 5.1rem;
    height: 5.1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Baskerville, serif;
    font-size: 3rem;
    text-transform: capitalize;
    cursor: pointer;
    color: #201238;
    font-weight: 400;
}

.winning-cell {
    background-color: #5CB85C;
}

.border-right {
    border-right: 5px solid #7E7E7E;
}

.border-bottom {
    border-bottom: 5px solid #7E7E7E;
}

.border-top {
    border-top: 5px solid #7E7E7E;
}

.border-left {
    border-left: 5px solid #7E7E7E;
}