.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.current-turn {
    padding: 3rem;
    text-transform: capitalize;
}

.board-row {
    display: flex;
}

.cell {
    display: flex;
    width: 5.1rem;
    height: 5.1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Baskerville, serif;
    font-size: 3rem;
    text-transform: capitalize;
    cursor: pointer;
    color: #201238;
    font-weight: 400;
}

.border-right {
    border-right: 5px solid #7E7E7E;
}

.border-bottom {
    border-bottom: 5px solid #7E7E7E;
}

.border-top {
    border-top: 5px solid #7E7E7E;
}

.border-left {
    border-left: 5px solid #7E7E7E;
}

.post-game-container {
    position: fixed;
    left: 60%;
    width: 100%;
    bottom: 0;
    transform: translate(-50%, 0);
    margin-bottom: 2rem;
}

.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    width: 80%;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    background-color: #201238;
    color: white;
    margin: 1rem 0;
    padding: 0.625rem 1.5rem;
}

.game-button:hover {
    background-color: #282D4F;
}