.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}

.current-turn {
    text-transform: capitalize;
}

.board-row {
    display: flex;
}

.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    width: 20rem;
    border-radius: 1rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    background-color: #201238;
    color: white;
    padding: 0.625rem 1.5rem;
}

@media only screen and (max-width: 768px) {
    .game-button {
        width: 80%;
    }
}

.game-button:hover {
    background-color: #282D4F;
}